# Course: Intro to Python & R for Data Analysis
## Lecture: Let's get this data started - Pandas
Professor: Mary Kaltenberg / Anthony Spinelli


contact: mkaltenberg@pace.edu

contact: aspinelli@pace.edu

About Dr. Kaltenberg: www.mkaltenberg.com

## Objectives:

Part 1 (Quickstart Guide):
- dataframes
- how to import data into a dataframe
- merge
- drop columns
- combine numpy AND pandas
- how to export data

Part 2 (Detailed Guide):
- concat
- transform and pivot
- groupby
- hierarchial indexing
- aggregate



<img src ='https://media.giphy.com/media/z6xE1olZ5YP4I/giphy.gif' >

Pandas technically comes from "Panel Data." I prefer the dancing pandas.

In [ ]:
# Import pandas and call it pd
import pandas as pd

In [ ]:
# To import data, we use pd.read_csv
pd.read_csv('Your path to data here')

# A note about pathing and importing data

everybodys paths will be diffrent depending on your own folder system

to find paths to stuff, look in your directory (either on the side in jupyter lab or in the home tab on jupyter notebook)

to get a path to something, right click and select copy path

<img src ='images/get path.png' width=500 >

In [ ]:
# We can also use the pwd command in line to get our working path
# pwd must be in its own cell if its not working for you

In [ ]:
pwd

In [ ]:
# My path here:
Desktop/pace-university-eco-590-classroom-707af1-eco-590-assignments-Data-Analysis-in-R-and-Python-Eco-590-main/Lectures/Week_4/ds/wjp.csv

# NOtice how the pwd is missing the begining - /Users/anthonyspinelli/
# this is known as the complete path, and its good practie at first to use complete or full paths

You may also want to store your path in a path object for easy access like so:

In [ ]:
path = '/Users/anthonyspinelli/Desktop/pace-university-eco-590-classroom-707af1-eco-590-assignments-Data-Analysis-in-R-and-Python-Eco-590-main/Lectures/Week_4'
path

# For Windows users
your paths might look a bit diffrent with C:// at the front, its the same as on mac but paths are just denoted a bit diffrently.

Also in the past ive had to switch slasshes over from back slash to foreward after copying, you maye have the same issues: "\\" to "/"

See the Lecture 4 jupyter file for more detailed info on pathing

# Importing Data

In [ ]:
df = pd.read_csv(path + '/ds/wjp.csv')

# This is the same as using the full path:
df = pd.read_csv('/Users/anthonyspinelli/Desktop/pace-university-eco-590-classroom-707af1-eco-590-assignments-Data-Analysis-in-R-and-Python-Eco-590-main/Lectures/Week_4/ds/wjp.csv')

# Other Options for importing data:

pd.read_csv() - https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

for read_csv (as well as others) we can set the seperator - pd.read_csv(path, sep = ',')

we can also set the encoding

pd.read_csv(path, encoding = 'utf-8')

Most files you wont have to set either of these, but if you have importing issues, you will have to play around to find the correct seperator and encoding. Most are utf-8 encoding and comma deliminated

You may also have to tell read_csv which line is the header, with the header = 0 option

pd.read_excel()

read_excel, is for excel files. you can set get diffrent sheets if the file has multiple with the sheet_name option - pd.read_excel(path, sheet_name = 'Sheet 1')


Some other data saving options:
<img src ='images/utf-8csv.png' width=500 >

In [ ]:
# The first thing we can do with imported data is look at it!
# From this we see a row count and column count at the bottom, as well as some of the data
df

In [ ]:
# we can also see what columns are in the data with:
df.columns

In [ ]:
# Selecting individual columns
df['state']

In [ ]:
# Both work the same, it depends on the name of the column
df.state

In [ ]:
df['Income Group']

In [ ]:
df.Income Group # This doesnt work because of the space in column name

In [ ]:
# to just see the first few rows, we can do:
df.head()

In [ ]:
# as well as the last few rows:
df.tail()

In [ ]:
# We can also change how many we want to see:
df.head(2)

In [ ]:
# we can rename columns lise so:
df = df.rename(columns = {'year':'date','Country':'state'})
df

# remember, you need to assign the new data to another variable. renaming it back to the original df works fine, but sometimes you'll want to make a diffrent name

In [ ]:
# we can replace things in the data like so, for whole columns (df.replace(,))

import numpy as np
df = df.replace('Australia',np.nan)
print(len(df))
df

In [ ]:
# we can drop null values like so:
df2 = df.dropna()
print(len(df2))
df2

In [ ]:
df.fillna('THIS WAS NULL')

In [ ]:
# To get only specific columns:
df[['state','id']]

In [ ]:
# To find all the unique rows in a column
df.state.unique()

In [ ]:
# Count the unique things in a column
df['Income Group'].nunique()

In [ ]:
# We can also use value_counts to see whats inside of a column
df['Income Group'].value_counts()

In [ ]:
# Sort values\
df.sort_values('factor1', ascending = True)

In [ ]:
df.sort_values('factor1', ascending = False)

# Filtering

In [ ]:
df[df.state == 'Albania']

In [ ]:
df[(df['Income Group'] == 'Lower middle income') & (df.factor1 <= .40)]

In [ ]:
# We can also get some descriptave stats with .describe()
df.describe()

In [ ]:
# we can take means and other estimates
df.factor1.mean()

In [ ]:
df.factor1.std()

In [ ]:
df.factor1.median()

In [ ]:
# Reset index
# Often you will want to reset the index of the data when merging and performing other operations
df3 = df[df['Income Group'] == 'Lower middle income'].reset_index(drop=True)
df3

In [ ]:
# We can also set the index to whichever column we would like
df.set_index('state')

In [ ]:
# To specifically drop columns
df.drop(columns = {'state','Region'})

In [ ]:
# we can also create new columns
df['new_column'] = 0
df

In [ ]:
# To add new columns based on a filter
df.loc[df['Income Group'] == 'High income','high_inc_binary'] = 1

# Concat

In [ ]:
# OFten, you will want to concat data together. lets do an example
df1 = df[['Country','Region','factor1']]

In [ ]:
df2 = df.drop(columns = {'factor1','Country','Region'})

In [ ]:
df1.head(2)

In [ ]:
df2.head(2)

In [ ]:
# so we are missing some of our data. Lets put it back together!
df = pd.concat([df1,df2],axis = 1)
df

In [ ]:
# The other way
df1 = df[df.Region == 'Eastern Europe & Central Asia'].assign(binary = 0)
df2 = df[df.Region != 'Eastern Europe & Central Asia'].assign(binary = 1)

In [ ]:
df = pd.concat([df1,df2], axis = 0)
df

# Merging

In [ ]:
wjp = pd.read_csv(path+ '/ds/wjp.csv') 
ineq = pd.read_csv(path+ '/ds/ineq.csv')

In [ ]:
wjp.head(2)

In [ ]:
ineq.head(2)

In [ ]:
wjp_ineq = pd.merge(wjp, ineq, left_on=['Country','year'],
                    right_on=['country','year'],how='left')

In [ ]:
wjp_ineq

In [ ]:
# Exporting
wjp_ineq.to_csv(path + '/data_export.csv', index = False)

# notice the index = False
# If we want to include the index we turn that option to true
# It is true by default!

### Example

In [ ]:
# example
wjp = pd.read_csv(path + '/ds/wjp.csv') 
ineq = pd.read_csv(path + '/ds/ineq.csv') 
wjp_ineq = pd.merge(wjp, ineq, left_on=['Country','year'],
                    right_on=['country','year'],how='left')

Filter out the dataset to show only data from the region Sub Saharan Africa 

How many countries are in the region?

Calculate the average gini of the region.

What's the maximum population in the region? What's the countries name?

write a for loop that calculates the total countries in, mean gini coeficent, and maximum population for each region

Export the filtered dataset for Sub Saharan Africa

# Tons of Data!

Next, lets read in a lot of data from a directory

### Method 1 - for loops

In [ ]:
#let's build a for loop to look through these files and to append them
path_firm ='/Users/anthonyspinelli/Desktop/pace-university-eco-590-classroom-707af1-eco-590-assignments-Data-Analysis-in-R-and-Python-Eco-590-main/Lectures/Week_4/ds/firm_size_state_industry/'
# defining the pathname for this exercise
out =[] # Creating an empty list

for year in range(2007,2018): #looping through years because the file structure is the same except for the year
    data = pd.read_csv(str(path_firm)+'us_state_6digitnaics_'+str(year)+'.txt',encoding='latin1') # Reading in the data
    data['year'] = year # Creating a new column called year for the year of the data

    out.append(data)
out

In [ ]:
# Woah thats messy we need to concat the data together into a dataframe
e = pd.concat(out, axis = 0)

In [ ]:
e

# Method 2 - os library

I love this method

In [ ]:
import glob # import glob

In [ ]:
paths = glob.glob(path_firm+'*.txt') # We first get all the paths with the ending .txt
paths = [x for x in paths] # Then using list comprehension, we get all those paths in a list

out = [] # Create our out object
for path in paths: # For loop it up
    data = pd.read_csv(path,encoding='latin1') # Import the path
    year_of_data = path.split('.txt')[0].split('_')[-1] # create a year variable from the path
    data['year'] = year_of_data # create a new column for the data

    out.append(data) # Append the file after its read in

In [ ]:
e = pd.concat(out,axis = 0)
e

### Pivots

In [ ]:
#I'm filtering so that I look at only the national information about firms size by industry
firm_data = e[(e['STATE']==0)& (e['NAICS']!= '--')& (e['NAICS']!= '99')]

In [ ]:
firm_data

In [ ]:
#I'll explain this in the next section - for now hold off on questions on this magic.
firm_data_grouped=firm_data[['NAICS','FIRM','EMPL','year']].drop_duplicates().groupby(['NAICS','year']).sum().reset_index()

firm_data_grouped

Sometimes you might find that you need to change the way the data is presented.

Data can be stored "long" or "wide" - largely, how you want to display the information depends on what you are doing.

Generally, I work with long data because of the way most programs read data for regression analysis.

<img src= "images/long_wide.png">

Often, you'll want to change the format of the data. There are a few ways that you can do this.

Also, pivot is excel's best feature to easily manipulate data in that program. It is basically python's groupby feature combined with pivot.

In [ ]:
# rows are industry
firm_data_grouped.pivot(index='NAICS',columns='year', values='EMPL')

In [ ]:
firm_data_grouped.pivot(index='year',columns='NAICS', values='FIRM')

### Groupby

Pandas makes statistics by grouping variables very easy. This will be something that you will do often (as shown above). It's VERY convenient and makes doing statistics super easy. 

Essentially, the process is split-apply-combine (also exists in R)

<img src ='images/groupby.png'>

In [ ]:
print(len(firm_data))
firm_data.head()

In [ ]:
# Here we are getting the sum of employment stats for each industry for each year
df = firm_data[['NAICS','EMPL','year']].groupby(['year','NAICS']).sum().reset_index()
df

In [ ]:
#This line filters for information just about the industry, firm size, and year
firm_data[['NAICS','FIRM','EMPL', 'year']]

#the function below drops any duplicate values that might exist
.drop_duplicates()

# this function groups (splits) the information by industry and year
.groupby(['NAICS','year'])

# this function applies the way of which you want to calculate the data
.sum()

#this function resets the index (not necessary, but good to know about how to use it when you want to combine this data )
.reset_index()

In [ ]:
# Lets say I wanted to calculate the percentage change for employment statistics for the industry 11
# We can use the .pct_change() to do so: 
code_11 = df[df.NAICS == '11']

change = code_11['EMPL'].pct_change()

# Lets add that back into our dataframe

code_11['change'] = change

code_11

In [ ]:
# Or we can do it without python yelling at us

df.loc[df.NAICS == '11','change'] = df[df.NAICS == '11']['EMPL'].pct_change()
code_11 = df[df.NAICS == '11']
code_11

# Building for loops with data, step by step

In [ ]:
# Lets calculate the pct change for each industry

1. examine our data

In [ ]:
df
# We see a bunch of diffrent NAICS codes, lets look at how many their are

In [ ]:
df.NAICS.value_counts()
# 518111 only appears once, lets look at that one to see why

In [ ]:
df[df.NAICS == '518111']
# It only appears once, lets see if that skrews up the pct_change() function

In [ ]:
df[df.NAICS == '518111'].EMPL.pct_change()
# It does not so we should be fine

2. Think about our goal - a dataset that has each NAICS industry and its pct change for the years its in the data

So lets start with a point example by using one industry

In [ ]:
df[df.NAICS == '81399']
# okay we see some 0, so could be missing data. Lets get rid of those
df = df[df.EMPL != 0]
df

In [ ]:
# Still building from our point example, lets calculate the pct change and add it back to this dataset
subset_data = df[df.NAICS == '81399']
subset_data = subset_data.sort_values('year',ascending = True) # sort ascending to make sure we are going in the right direction
subset_data

In [ ]:
percent_change = subset_data.EMPL.pct_change()

In [ ]:
subset_data['pct_chg'] = percent_change

In [ ]:
subset_data
# Cool thats what we want for each. Now lets build our loop

3. next lets get our list of NAICS industries to loop through

In [ ]:
NAICS_list = df.NAICS.drop_duplicates().reset_index(drop=True)
NAICS_list

4. Loop it up

In [ ]:
out = [] # create our out to append to

for industry in NAICS_list: # Start our loop over the industry list we made
    subset_data = df[df.NAICS == industry].sort_values('year', ascending = True)
    percent_change = subset_data.EMPL.pct_change()
    final_data = subset_data.assign(pct_chg = percent_change) # We'll use assign because it doesnt give us a warning
    out.append(final_data)

In [ ]:
out
# out is gross again so lets pd.concat it

In [ ]:
pct_change_dataset = pd.concat(out)

In [ ]:
pct_change_dataset
# and there we go
# lastly lets just check the row count against the original dataset to make sure we didnt mess anything up

In [ ]:
len(df)

In [ ]:
len(pct_change_dataset)

In [ ]:
df